* {
    box-sizing: border-box;
  }

  img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

  body {
    margin: 0;
  }
ul a:hover, ul a:active {
    color: white;
    background-color: #7b11a8;
    padding: 10px;
  }

header{
    position: absolute;
    height: 3%;
    width: 100%;
    background-color: white;
}


ul{
    float: right;
    margin-top: 5px;
    margin-right: 5%;
    background-size: cover; 
}

ul li{
    display: inline;
}

ul li a{
    color: black;
    padding: 10px;
    font-family: 'Krona One';
    text-decoration: none;
    font-size: 10px; 
}

#SimalaRide img{
  position: absolute;
  top: 3%;
  left: 0%;
  height: 50%;
  width: 50%;
    
}

#Simala img{
  position: absolute;
  top: 3%;
  left: 50%;
  height: 75%;
  width: 50%;
}

#House img{
  position: absolute;
  top: 40%;
  left: 0%;
  height: 75%;
  width: 50%;
}

#Favorite img{
  height: 100%;
  width: 100%;
}

#YourSmile img{
  height: 100%;
  width: 100%;
}

#Mactan img{
  height: 100%;
  width: 100%;
}

#Sinulog img{
  height: 100%;
  width: 100%;
}

#Asturias img{
  height: 100%;
  width: 100%;
}

#Jeje img{
  height: 100%;
  width: 100%;
}